resource "aws_instance" "{##INSTANCE##}" {
    key_name = "AF-Key"
    ami = "ami-021d41cbdefc0c994"
    security_groups = ["aws_security_group.{##SECURITY_GROUP##}.id"]
    subnet_id = aws_subnet.{##SUBNET##}.id
    instance_type = "t2.micro"
    user_data = "${file("scripts/{##SERVICE##}")}"
    
    tags = {
            Name = "{##INSTANCE##}"
    }
}
