resource "aws_security_group" "{##SECURITY_GROUP##}" {
  name        = "{##SECURITY_GROUP##}"
  description = "Security Group"
  vpc_id      = aws_vpc.main_vpc.id

  {##INGRESS-{SGREPLACE}##}

  egress {
    from_port   = 0
    to_port     = 0
    protocol    = "-1"
    cidr_blocks = ["0.0.0.0/0"]
  }

  tags = {
    Name = "{##SECURITY_GROUP##}"
  }
}
